html::-webkit-scrollbar {
    width: 1vw;
  }
  
  
  html::-webkit-scrollbar-thumb {
  
    background-color: #061502;
    border-radius: 1vw;
  
  }
  html::-webkit-scrollbar-thumb:hover {
  
    background-color: green;
  
  }
  html::-webkit-scrollbar-track {
  
    background-color: #030A01;
    border-radius: 1vw;
  
  }

html {

    font-family: sans-serif;
    background-color: black;
    margin: 0.5;
    
    }
    
    tr.border_bottom td {
        border-bottom: 3px solid #0C2605;
        border-top: 3px solid #0C2605;
        border-left: 3px solid #0C2605;
        border-right: 3px solid #0C2605;
      
      }
    


    .image {
        float: left;
        width: 50px;
        height: 50px;
    }

    .text {

        padding-left: 20px;
        float: left;
    }

    .link {
        font-size: 15px;
        color: green;
        text-decoration: none;
    }
    .link:visited{

        color: purple;
        
    }
    .button {

      color: green;
      background-color: #030A01;

  }
